<% if current_user %>
	<h2><%= link_to 'New Post', new_post_path %></h2>
<% end %>

<% @posts.each do |post| %>
	<div class="post">  
		<h2><%= link_to post.title, post %></h2> 
		<h3><%= post.created_at.strftime("%b %e at %l:%M%p") %> by <%= User.find(post.user_id).first_name %></h3>
		<p><%= truncate(post.content, :length => 500) %></p>
		<% if current_user %>
		  <div class="admin-controls">
		    <%= link_to 'Edit', edit_post_path(post) %> - 
  		    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }%></h4>
  		  </div>
  		<% end %>
  	</div>
<% end %>

