<!DOCTYPE html>
<html>
<head>
  <title>Blogarr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Blogarr</h1>
  <h1><%= link_to "Home", posts_path %></h1>

<%= yield %>

</body>
</html>
